body{
	background-color: #EEEEEE;
	font-family: Arial, sans-serif;
}
h1{
	font-size: 36px;
	text-align: center;
}
section{
	text-align: center;
}

.header{
	background-color: #2D79AC;
	padding: 25px 30px;
	color:#fff;
	width: 100%;
}

.hero{
	height: calc(100vh - 100px);
	background-color: #cc0000;
}
