*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}
a{
	color: #000;
	text-decoration: none;
}
.container{
	width:1170px;
	margin: 0 auto;
	
	outline: 0px solid blue;
}
.clearfix:after, .container:after{
	display: block;
	content:"";
	clear:both;
}
.header{
	
	outline: 0px solid #cc0000;
}
.logo{
	margin: 9px 0 4px 0;
	float:left;

}
.nav{
	list-style: none;
	float:right;
	line-height: 84px;
	font-size: 16px;
	font-weight: 700;
	margin-right: 8px;
}
.nav li{
	display: inline-block;
	margin:0 0 0 30px;
}



.hero{
	background: url("../img/bg_hero.jpg");
	height:calc(100vh - 84px);
	width: 100%;
	background-size: cover;
	color: #fafafa;

	text-align: center;
}
.hero a{
	color: #fafafa;
}
.hero-content{
	padding-top: 223px;
}

.hero h1{
	font-size: 60px;
	width: 990px;
	margin: 0 auto;
}

.hero .active-users{
	font-size: 24px;
	font-weight: 700;
	margin: 69px 0 89px 0;
}

.button-search-trip{
	display: inline-block;
	padding: 23px 55px;
	font-size: 24px;
	font-weight: 700;
	background-color: #73D887;
	border-radius: 30px;
	background: linear-gradient(to top, rgba(30, 174, 145, 0.45), rgba(247, 237, 84, 0.45)), #14cf8b;
	transition: all .5s;
	
}

.button-search-trip:hover{
	background: linear-gradient(to top, rgba(247, 237, 84, 0.45), rgba(30, 174, 145, 0.45)), #14cf8b;
	
}

@media screen and (max-width: 1200px){
	.container{
		width: 960px;
	}
}